* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-color: #57ff95;
  --main-dark-color: red;
  --light-theme-bg-color: white;
  --light-theme-text-color: black;
  --dark-theme-bg-color: #231836;
  --dark-theme-text-color: white;
}

body.dark {
  background-color: var(--dark-theme-bg-color);
  color: var(--dark-theme-text-color);
}

h1 {
  color: var(--main-color);
}

.py-4 {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.container {
  max-width: 400px;
  margin: auto;
}